.diz-mx-auto {
  margin-left: auto;
  margin-right: auto
}

.diz-mt-5 {
  margin-top: 1.25rem
}

.diz-block {
  display: block
}

.diz-flex {
  display: flex
}

.diz-w-80 {
  width: 20rem
}

.diz-w-full {
  width: 100%
}

.diz-flex-1 {
  flex: 1 1 0%
}

.diz-pb-8 {
  padding-bottom: 2rem
}

.diz-text-center {
  text-align: center
}

.diz-text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem
}

.diz-text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem
}